@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;500;600&display=swap");

// Colors
$ModerateViolet: hsl(263, 55%, 52%);
$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$VeryDarkBlackishBlue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$LightGray: hsl(0, 0%, 81%);
$LightGrayishBlue: hsl(210, 46%, 95%);
// Fonts
$font: "Barlow Semi Condensed", sans-serif;

// mixins
@mixin flex($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// Media Query
@mixin responsive {
  @media screen and (min-width: 1180px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $LightGrayishBlue;
  font-family: $font;

  .heading{
    position: relative;
    color: $VeryDarkGrayishBlue;
    padding: 1rem 0 0;
    font-size: 2rem;
  }

  #theGrid {
    width: 90%;
    max-width: 1280px;
    padding-top: 2rem;
    display: grid;
    gap: 1.2rem;
    margin-bottom: 1rem;

    @include responsive {
      width: 90%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }

    .testimony {
      width: 100%;
      height: 100%;
      padding: 1.5rem 2.5rem;
      border-radius: 12px;
      overflow: hidden;
      color: $LightGrayishBlue;

      .details {
        display: flex;
        align-items: center;
        width: auto;
        margin-bottom: 1rem;

        img {
          border-radius: 50%;
          width: 35px;
          margin-right: 1rem;
        }

        .name {
          h3 {
            font-weight: 500;
          }
          p {
            font-weight: 300;
            opacity: 0.5;
          }
        }
      }

      .test {
        h2 {
          margin-bottom: 1rem;
        }
        p {
          line-height: 1.5;
          opacity: 0.7;
        }
      }

      &:last-child,
      &:nth-child(3) {
        color: $VeryDarkBlackishBlue;
      }

      &:first-child {
        background: $ModerateViolet url("./images/bg-pattern-quotation.svg")
          no-repeat;
        background-position: 85% 5%;

        @include responsive {
          grid-column: 1/3;
        }

        img {
          box-shadow: 0 0 0 2px hsla(210, 46%, 95%, 0.4);
        }
      }

      &:nth-child(2) {
        background: $VeryDarkGrayishBlue;
      }
      &:nth-child(3) {
        background: $White;
      }

      &:nth-child(4) {
        background: $VeryDarkBlackishBlue;

        @include responsive {
          grid-column: 2/4;
        }

        img {
          box-shadow: 0 0 0 2px $ModerateViolet;
        }
      }

      &:last-child {
        background: $White;

        @include responsive {
          grid-column: 4/5;
          grid-row: 1/3;
        }
      }
    }
  }

  .attribution {
    padding-bottom: 1rem;
  }
}
